<!-- <div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h3 class="mb-3">Create Group</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-6 pe-2">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4">
                                        <div class="col-12">
                                            <label for="loginUsername">Group Name<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="groupname" class="form-control" placeholder="Enter group name" name="groupname" id="groupname">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button (click)="createChannel()" class="btn btn-primary px-4 float-end mt-4">Create</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class=" col-md-6 pe-2">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4">
                                        <div class="col-12">
                                            <label for="loginUsername">Group Name<span class="text-danger">*</span></label>
                                            
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" [(ngModel)]="groupname" class="form-control" placeholder="Enter group name" name="groupname" id="groupname">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button (click)="createChannel()" class="btn btn-primary px-4 float-end mt-4">Create</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                      
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div> -->